<div class="maxwidth">


        <div class="tab">
          <a class="root" href="http://www.gnome.org/">GNOME.org</a>
          <a class="user active" href="/accounts/login/">Login</a>
        </div>
        
<form style="display: block; top: 0px; opacity: 1;" action="/accounts/login/" method="POST" class="login_popup_form user_popup">
      <div style="display:none">
        <input name="csrfmiddlewaretoken" value="5wyE5qLSStyh5G1cpNpo5WJgDSJuRfPr" type="hidden">
      </div>
      <input name="username" maxlength="30" placeholder="Username" autofocus="True" id="id_username" type="text">
    <input placeholder="Password" name="password" id="id_password" type="password">
      <input name="next" value="/" type="hidden">
      <input value="Login" type="submit">
      <a href="/accounts/register/">Register</a>
    </form>

</div>


