<div id="footer-wrap">
			
						
			<!--// OPEN #footer //-->
			<section id="footer" class="footer-divider">
				<div class="container">
					<div id="footer-widgets" class="row clearfix">
						<div class="col-sm-3">
								<a href="{% url 'home'%}">Gallery</a>																	</div>
						<div class="col-sm-3"><a href="{% url 'home'%}">Events</a>
																									</div>
						<div class="col-sm-3"><a href="{% url 'home'%}">Members</a>
																									</div>
						<div class="col-sm-3"><a href="{% url 'home'%}">Home</a>
																									</div>
						
												
					</div>
				</div>	
			
			<!--// CLOSE #footer //-->
			</section>	
						
						
			<!--// OPEN #copyright //-->
			<footer id="copyright" class="copyright-divider">
				<div class="container">
					<p><span class="glyphicon glyphicon-copyright-mark"></span> 2015 <strong>TSSTVM</strong></p>
					<nav class="footer-menu std-menu">
											</nav>
				</div>
			<!--// CLOSE #copyright //-->
			</footer>
			
						
			</div>